body {
  font-family: 'Inter', sans-serif;
  padding: 20px;
  background-color: #ececec;
  max-width: 1500px;
  margin: 0 auto;
}

.catalog {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px
}

.card {
  border: 1px solid #ddd;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  background: #ffffff;
  transition: 0.2s ease;
}

.card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: flex-start;
}

.card-img {
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.card-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;

}

.card h3 {
  align-self: flex-start;
  font-size: 22px;
  margin: 0;
}

.card p {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #313131;
  margin: 5px;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

button {
  padding: 10px;
  cursor: pointer;
  background-color: #3056ff;
  color: white;
  width: 100%;
  border-radius: 15px;
  border: none;
  transition: 0.2s ease;
  margin-top: auto;
}

button:hover {
  background-color: rgb(80, 112, 255);
}

button:active {
  transform: scale(0.98);
}

@media (min-width: 2000px) {
  .catalog {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1400px) {
  .catalog {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1200px) {
  .catalog {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .catalog {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .catalog {
    grid-template-columns: 1fr;
  }
}